/*----> Contacto <----*/

.contactoHeader{
    font-family: "Bitter";
    font-size: 30px;
    h5{
        font-weight: 400;
        font-size: 40px;
    }
}

.contactoCard{
    color: map-get($colors , secondary);
    font-family: "Bitter";
    padding: 10px;
    a{
        text-decoration: none;
        color: map-get($colors, secondary);
    }
}

.contactImages {
    img{
        width: 64px;
    }
}

.form{
    background-color: map-get($colors , secondary) ;
    border: map-get($colors, primary) solid;
    color: map-get($colors, primary);
    width: 70%;
    font-family: "Bitter";
    margin-top: 8px;
    input{
        display: inline-block;
        position: relative;
        font-family: "Bitter";
        margin: 5px;
        width: 90%
    }
    textarea{
        width: 100%;
    }
    h4{
        margin: 5px;
    }
}

.ubicacion{
    background-color: map-get($colors, secondary);
    margin: 10px;
    border: map-get($colors, primary) solid;
    width: fit-content;
    font-family: "bitter";
    padding: 5px;
    h2{
        color: map-get($colors, primary);
        font-family: "Gabriela";
        margin: 5px;
    }
}