/*----> Footer <----*/

@mixin sizing($ancho,$alto) {
    width: $ancho;
    height: $alto;
}

.footer{
    color: map-get($colors, secondary);
    font-family: "Bitter";
    a{
        text-decoration: none;
        color: map-get($colors, secondary);
    }
    h4{
        font-size: 17px;
    }
}

.contactFooterCard{
    background-color: map-get($colors, primary);
    border: map-get($colors, secondary) solid;
    @include sizing(327.2px, auto);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    h2{
        text-align: center;
    }
    img{
        margin: 10px;
    }
}

.footerNav{
    @extend .contactFooterCard;
    font-size: 2em;
    justify-content: center;
    li{
        margin: 30px 0px;
        font-size: 0.8em;
    }
}

.footerHorneados{
    background-image: url(../img/smbckghorneado.png);
    border: solid map-get($colors, primary) 3px;
    color: map-get($colors, primary);
    @include sizing(327.2px, auto);
    text-align: center;
    font-family: "bitter";
    padding: 0%;
    img{
        width: 100%;
        margin: 0px 0px 10px;
    }
    h3{
        margin: 10px;
        font-family: "Gabriela";
        font-weight: 800;
    }
    input{
        background-color: map-get($colors, primary);
        color: map-get($colors, secondary);
        margin-bottom: 10px;
    }
}
