/*----> Galería <----*/

.galeriaImg{
    img{
    border: map-get($colors, secondary)  solid;
    margin: 10px;
    transition: all 1s;
    }
}

.galeriaTrans1:hover{
    transform: translate(0px,20px) scale(1.2);
}