/*----> Index <----*/

.indexVideo{
    width: 100%;
    margin-top: 143px;
}

.indexSobreNosotros{
    color: map-get($colors, primary);
    background-color: map-get($colors, secondary);
    border: map-get($colors, primary) solid;
    font-family: "Bitter";
    width: 90%;
    h3{
        font-family: "Gabriela";
        font-weight: 800;
    }
}

.card-body{ 
    h2{
    font-family: "gabriela";
    font-weight: bolder;
    }
    p{
        font-family: "bitter";
        font-size: 13px;
    }
}